body {
     background-color: #eceef1;
     position: relative;
 }
  h1 {
      font-weight: 400;
  }

.login {
    /* 将盒左右外边框设置为auto，外边句可以让会计盒子水平居中 */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: lightgray 1px solid;
    background-color: rgb(209, 248, 240);
}

input {
    display: block;
    width: 260px;
    height: 40px;
    text-indent: 1em;
}

.lg1 {
    background-color: #3375bf;
    border-radius: 10px;
    border-color: none;
    border: none;
    color: white;
}
