 body {
     background-color: #eceef1;
     position: relative;
 }
 h1{
    font-weight: 400;
 }

 .register {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 500px;
     height: 500px;
     border: lightgray 1px solid;
     background-color: rgb(209, 248, 240);
     margin:0 auto;
 }

 .register input {
     display: block;
     width: 260px;
     height: 40px;
     text-indent: 1em;
 }

 .button {
     background-color: #3375bf;
     border-radius: 10px;
     border-color: none;
     border: none;
     color: white;
 }